.feynman__link {
  position: absolute;
  right: 48px;
  bottom: 50%;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  text-decoration: none;
  z-index: 1;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: 200ms;
}